NoSMonitor/Service References/NoSAgentService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NoSAgent" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NoSAgent" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Settings">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Interval" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Settings" nillable="true" type="tns:Settings" />
</xs:schema>